* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #1E1E1E; /* gris foncé */
  color: #bfbab6; /* gris clair */
}
p {
  text-align: justify;
}
.navbar {
  background-color: #2F2F2F; /* gris plus foncé */
  overflow: hidden;
}
.navbar span {
  float: left;
  display: block;
  color: #D2B48C; /* brun clair */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  cursor: pointer;
}
.navbar span:hover {
  background-color: #333; /* gris foncé */
  color: #F5F5DC; /* beige */
}
.container {
  padding: 20px;
}
.calculator {
  max-width: 100%;
  margin: 0 auto;
  background-color: #333; /* gris foncé */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
input {
  pointer-events: none;
}
.calculator input,
.calculator select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #8B4513; /* brun chocolat */
  border-radius: 5px;
  background-color: #3E3E3E; /* gris plus foncé */
  color: #D2B48C; /* brun clair */
}
.numberButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calculator button {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  flex-grow: 1;
  padding: 20px;
  margin: 5px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background-color: #b0a668; /* sable */
  color: #36281d; /* brun */
  cursor: pointer;
}
.calculator button:disabled {
  background-color: #555; /* gris */
  color: #F5F5DC; /* beige */
  cursor: not-allowed;
}
.calculator button.full-width {
  flex-basis: 100%;
}
.calculator button:hover {
  background-color: #555; /* gris */
  color: #F5F5DC; /* beige */
}
#result, #error {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
